/****************************************************/
/************Header Section**************************/
/****************************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* because we want he header to be sticky later add height */
  height: 9.6rem;
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  position:relative;
}
.logo {
  height: 2.2rem;
}

/****************************************************/
/************Navigation Section**************************/
/****************************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: inset all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link:link.nav-cta:link,
.main-nav-link:link.nav-cta:visited {
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #e67e22;
}
.btn-mobile-nav{
  border:none;
  background:none;
  cursor:pointer;
display:none;
}
.icon-mobile-nav{
height:4.8rem;
width:4.8rem;
color:#333;
}
.icon-mobile-nav[name="close-outline"]{
display:none;
}
/****************************************************/
/*******Hero Section*********************************/
/****************************************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 6.4rem;
  width: 6.4rem;
  /* the width will be automatically adjusted in flex but theres some issue with images in safari so we need to add this */
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
} /****************************************************/
/************Featured in section**************************/
/****************************************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img{
  height:3.2rem;
  filter:brightness(0);
  opacity:80%;
}
/****************************************************/
/************How it works Section**************************/
/****************************************************/
.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  /* height:60%; */
  /* 60% of parent's width */
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
  /* z-index:20; */
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
/****************************************************/
/************Meals Section**************************/
/****************************************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal{
  box-shadow:0 2.4rem 4.8rem rgba(0,0,0,0.75);
  border-radius:11px;
  overflow:hidden;
 transition:all 0.4s;
  
}
.meal:hover{
  transform:translateY(-1.2rem);
  box-shadow:0 3.2rem 6.4rem rgba(0,0,0,0.06);
}
.meal-content{
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags{
  margin-bottom:1.2rem;
  display:flex;
  gap:1rem;
}
.tag{
  display:inline-block;
  padding:0.4rem 0.8rem;
  font-size:1.2rem;
  text-transform:uppercase;
  color:#333;
 
  border-radius:100px;
  font-weight:600;
}
.tag--vegetarian{
  background-color:#51cf66
}
.tag--vegan{
  background-color:#a9e34b
}
.tag--paleo{
  background-color:#ffe066
}
.meal-title{
  font-size:2.4rem;
  color:#333;
  font-weight:600;
  margin-bottom:3.2rem;
}
.meal-attributes{
  list-style:none;
  display:flex;
  flex-direction:column;
  gap:2rem;

}
.meal-attribute{
font-size:1.8rem;
display:flex;
align-items:center;
gap:1.6rem;
}
.meal-img{
  width:100% ;
}
.meal-icon{
  height:2.4rem;
  width:2.4rem;
  color:#e67e22
}
.list{
  list-style:none;
  display:flex;
  flex-direction: column;
  gap:1.6rem;
}
.list-item{
  font-size:1.8;
  display:flex;
  align-items:center;
}
.list-icon{
  height:3rem;
  width:3rem;
  color:#e67e22;
}
.all-recipes{
  
  text-align:center;
  font-size:1.8rem;
}
/****************************************************/
/************testimonials Section**************************/
/****************************************************/
.section-testimonials {
  display:grid;
  grid-template-columns:55fr 45fr;
  /*theres no need that it should sum up to 100 its just easy to think of it as percentages*/
  background-color: #fdf2e9;
  align-items:center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials{
  display:grid;
  grid-template-columns:1fr 1fr;
  row-gap:4.8rem;
  column-gap:8rem;
}
.testimonial-photo{
  width:6.4rem;
  border-radius:50%;
}
.testimonial-text{
  font-size:1.8rem;
  line-height:1.8;
  margin-bottom:1.6rem ;
}
/************gallery section*****/
.gallery{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:1.6rem;
  padding:1.6rem;
}
.gallery-img{
  display:block;
  /*this removed the space between the elements as a first step*/
  width:100%;
  /*this will make the image take the full width of the parent container which is  1fr here*/
transition:all 0.4s;
}
.gallery-item{
  overflow:hidden;
}
.gallery-img:hover{
  transform:scale(1.1);
}
/****************************************************/
/************pricing Section**************************/
/****************************************************/

.section-pricing{
  padding:9.6rem 0;
}
.pricing-plan{
  border:2px solid #fae5d3;
  border-radius:11px;
  padding:4.8rem;
  width:75%;
}
/* //the border on the above added extra 2px so to adjust moved the padding
to the complete grid container and adjusted the starter's padding by making it less than the complete's padding*/ 
.pricing-plan-starter{ 
  justify-self:end;
  padding:4.6rem;
}
.pricing-plan-complete{
  background-color: #fae5d3;
  padding:4.8rem;
  position:relative;
  overflow:hidden;
}
.pricing-plan-complete::after{
  content:"Best Value";
  position:absolute;
  top:5%;
  right:-10%;
  background-color: #cf711f;
  padding:0.8rem 3.2rem;
  text-transform: uppercase;
  font-weight:600;
  font-size:1.4rem;
  color:#333;
  transform:rotate(45deg);
}
.price-header{
  text-align:center;
  margin-bottom:4.8rem;
}
.plan-name{
  color:#cf711f;
  font-weight:600;
  text-transform:uppercase;
  font-size:2rem;
  letter-spacing:0.75;
  margin-bottom:3.2rem;

}
.plan-price{
  font-size:6.2rem;
  font-weight:600;
  color:#333;
  margin-bottom:1.6rem;
}
.plan-price span{
  font-size:3rem;
  font-weight:500;
  margin-right:0.8rem;
}
.plan-text{
  font-size:1.6rem;
  line-height:1.6rem;
}
.plan-sign-up{
  text-align:center;
  margin-top:4.8rem;
}
.plan-details{
  font-size:1.6rem;
  line-height:1.6rem;
  text-align:center;
}
.feature-icon{
  color:#e67e22;
  height:3.2rem;
  width:3.2rem;
  background-color: #fdf2e9;
  padding:1.2rem;
  border-radius:50%;
  margin-bottom:3.2rem;

}
.feature-title{
  font-size:2.4rem;
  color:#333;
  font-weight:700;
  margin-bottom:1.6rem;
}
.feature-text{
  font-size:1.8rem;
  line-height:1.8;
}/****************************************************/
/************cta Section**************************/
/****************************************************/
.section-cta{
  /*top /right /bottom /left*/
  padding:9.6rem 0 12.8rem 0;
  /*top /horizontal /bottom*/
  padding:9.6rem 0 12.8rem;
}
.cta-text-box{
  padding:4.8rem 4.8rem 4.8rem 6.4rem;

}
.cta .heading-secondary{
  margin:3.2rem;

}
.cta-text{
  font-size:1.8rem;
  line-height:1.8rem;
  margin-bottom:4.8rem;
}

.cta{
  display:grid;
  grid-template-columns:2fr 1fr;
  box-shadow:0 2.4rem 4.8rem rgba(0,0,0,0.015);
  border-radius:11px;
  background-image:linear-gradient(to right bottom,
  #eb984e,#e67e22);

  overflow:hidden;
}
.cta-img-box{
  background-image:linear-gradient(to right bottom,
  #eb9b544f,#e67d225e),url(../img/eating.jpg);
  background-size:cover;
}
.cta-form{
  display:grid;
  grid-template-columns:1fr 1fr;
  column-gap:3.2rem;row-gap:2.8rem;
}
.cta-form label{
  display:block;
  font-size:1.6rem;
  font-weight:500;
  margin-bottom:1.2rem;
}
.cta-form input,
.cta-form select{
  width:100%;
  padding:1.2rem;
  font-size:1.6rem;
  font-family:inherit;
  border:none;
  border-radius:5px;
  box-shadow:0 1px 2px rgba(0 ,0 ,0 ,0.1);
}
.cta-form input::placeholder{
  color:green;
}
.btn-form{
  align-self:end;
}
/****************************************************/
/************Footer Section**************************/
/****************************************************/
.footer{
  padding:12.8rem 0;
  border-top:1px solid #eee;
}
.grid-footer{
  grid-template-columns:1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col{
  display:flex;
  flex-direction:column;
}
.footer-logo{

  display:block;
  margin-bottom:3.2rem;
}
.footer-heading{
  font-size:1.8rem;
  font-weight:500;
  margin-bottom:4rem;
}
.contacts{
  font-style:normal;
  font-size:1.6rem;
  line-height:4rem;
}
.address{
  margin-bottom:2.4rem;
}
.social-links{
  list-style:none;
  display:flex;
  gap:2.4rem;
}
.social-icon{
  height:2.4rem;
  width:2.4rem;
}
.copyright{
  font-size:1.2rem;
  line-height:1.6rem;
  color:#888;
  margin-top:auto;
}
.footer-nav{
  list-style:none;
  display:flex;
  flex-direction:column;
  gap:2.2rem;
}
.footer-link:link,
.footer-link:visited{
  text-decoration:none;
  font-size:1.5rem;
  color:#ddd;
}
.footer:link:hover,
.footer-link:active{
  color:#cf711f;
}